<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>TChart Features</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>images/logo57x57.png</string>
		<string>images/logo114x114.png</string>
		<string>images/logo29x29.png</string>
		<string>images/logo58x58.png</string>
		<string>images/logo72x72.png</string>
		<string>images/logo50x50.png</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2012.0.2.28</string>
	<key>MinimumOSVersion</key>
	<string>3.1</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
