<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AChartBindingDroid.Test" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="AChart binding" android:icon="@drawable/Icon" android:theme="@style/MyTheme">
		<activity android:name="org.achartengine.chartdemo.demo.chart.XYChartBuilder" />
		<activity android:name="org.achartengine.chartdemo.demo.chart.PieChartBuilder" />
		<activity android:name="org.achartengine.GraphicalActivity" />
	</application>
</manifest>